@mixin button($color,$bg-color,$padding,$border
,$color-hover,$bg-color-hover){
    color:$color;
    background-color: $bg-color;
    padding:$padding;
    border:$border;
    &:hover{
        color:$color-hover;
        background-color: $bg-color-hover;
    }
    
}